<div class="headline-card mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title" [style.background-image]="'url('+ headline.fields.thumbnail + ')'">
        <h2 class="mdl-card__title-text">{{ headline.webTitle }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <span class="mdl-chip mdl-color--deep-orange mdl-color-text--white">
            <span class="mdl-chip__text">{{ headline.sectionName }}</span>
        </span>

        <p [innerHTML]="headline.fields.trailText"></p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="getSingleArticle()">Read more</a>
    </div>
</div>